*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#super_btn{
    padding:2rem;
}

/* Basic board layout */
#chess_board{
    width:98vmin;
    height:98vmin;
    display: flex;
    flex-wrap: wrap;
    margin: .5rem auto;
    z-index: -1;
}
.board{
    z-index: -1;
}
.selected{
    background-color: rgba(80, 120, 80, 0.7) !important;
}
.valid_move{
    background-color: rgba(80, 120, 180, 0.7) !important;
}

.square-grey,
.square-white{
    width:12.5%;
    height: 12.5%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-grey{
    background: #999;
}
.square-white{
    background: #ddd;
}


/* adding pieces */
div[piece = "w_rook"]{
    background-image: url('images/w-rook.png');
    background-size: contain;
}
div[piece = "w_knight"]{
    background-image: url('images/w-knight.png');
    background-size: contain;
}
div[piece = "w_bishop"]{
    background-image: url('images/w-bishop.png');
    background-size: contain;
}
div[piece = "w_king"]{
    background-image: url('images/w-king.png');
    background-size: contain;
}
div[piece = "w_queen"]{
    background-image: url('images/w-queen.png');
    background-size: contain;
}
div[piece = "w_pawn"]{
    background-image: url('images/w-pawn.png');
    background-size: contain;
}


div[piece = "b_rook"]{
    background-image: url('images/b-rook.png');
    background-size: contain;
}
div[piece = "b_knight"]{
    background-image: url('images/b-knight.png');
    background-size: contain;
}
div[piece = "b_bishop"]{
    background-image: url('images/b-bishop.png');
    background-size: contain;
}
div[piece = "b_king"]{
    background-image: url('images/b-king.png');
    background-size: contain;
}
div[piece = "b_queen"]{
    background-image: url('images/b-queen.png');
    background-size: contain;
}
div[piece = "b_pawn"]{
    background-image: url('images/b-pawn.png');
    background-size: contain;
}